<span id="sign_in_link"><span>
<span id="sign_up_link"><span>

<h3>A Couple Of My Projects:</h3>
<% if @projects.any? %>
<% @projects.each do |project| %>
  <div class='card'>
    <div class='card-body'>
      <h3>Project: <%= project.title %></h3>
      <p><%= link_to image_tag(project.photo.url(:medium)), project_path(project) %></p>
      <p><% if is_admin? %>
      <%= link_to "Edit", edit_project_path(project) %> |
      <%= link_to "Delete", project_path(project),
        :data=>{:confirm => "Are You Sure?", :method => "delete"}%>
      <% end %></p>
    </div>
  </div>
<% end %>
<% if is_admin? %>
  <h3><%= link_to "Add new project", new_project_path %></h3>
<% end %>
<% else %>
<div class= 'card'>
  <div class = 'card-body'>
    <p> There are currently no projects listed. Please visit <span><a href="https://www.github.com/ngottlieb87">my github</a></span>!</p>
  </div>
<% end %>
</div>
