

  <h1 class="projectName"><%= @project.title %></h1>
  <div class="card">
    <div class= "card-body">
    <%= image_tag @project.photo.url(:medium) %>
     <a href= <%= @project.project_link %> <p>Project Repository</p> </a>
    </div>
  </div>
  <div class="displayComment">
    <% if @project.comments.any? %>
    <h3 id="addComment"><%= link_to "Add a comment for this project!", new_project_comment_path(@project)%></h3>
    <hr>
       <% @project.comments.each do |comment| %>
       <p><%= comment.body %> <p>
       Comment by: <%= comment.user.user_name %>
                   <%= image_tag comment.user.avatar.url(:small), class:"user_image" %>
      <hr>
      <p> <% if is_admin? %>
      <p class="admin"><%= link_to "Edit Comment", edit_project_comment_path(@project, comment)%></p>
      <p class= "admin"><%= link_to "Delete Comment", project_comment_path(@project, comment),
                               :data => {:confirm => "You sure?",
                                         :method => "delete"} %>
          <%end %>
      </p>
    <% end %>
    <% else %>
      <p>There are no comments for this project. <%= link_to "Add One!", new_project_comment_path(@project)%><p>
    <% end %>
  </div>
  <hr>
  <p id= "returnProj"><%= link_to "Return to Projects", projects_path %></p>
  <hr>
