
<div class ="card commentBody">
  <h1 class="projectName"><%= @project.title %></h1>
  <div class="card">
    <div class= "card-body">
    <%= image_tag @project.photo.url(:medium) %>
     <a href= <%= @project.project_link %> <p> Project Repository</p> </a>
    </div>
  </div>
  <div class="displayComment">
    <% if @project.comments.any? %>
    <h3 class= "addComment"><%= link_to "Add a comment for this project!", new_project_comment_path(@project), remote: true%></h3>
    <hr>
       <% @project.comments.each do |comment| %>
       <p><%= comment.body %> <p>
       Comment by: <%= comment.user.user_name %>
                   <%= image_tag comment.user.avatar.url(:small), class:"user_image" %>

      <p> <% if is_admin? %>
      <p class= "admin"><%= link_to "Delete Comment", project_comment_path(@project, comment),
                               :data => {:confirm => "You sure?",
                                         :method => "delete"} %>
          <%end %>
      </p>
    <hr>
    <% end %>
    <% else %>
      <p class= "addComment">There are no comments for this project. <%= link_to "Add One!", new_project_comment_path(@project), remote: true%><p>
    <% end %>
  </div>
  <p id= "returnProj"><%= link_to "Return to Projects", projects_path %></p>
  <hr>
</div>
