<!DOCTYPE html>
<html>
  <head>
    <title>Noah Gottlieb Portfolio</title>
    <%= csrf_meta_tags %>
    <link rel="icon" type="image/png" href="/public/icon.ico">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <% if current_user %>
        <%= current_user.email %> <span id="pipe">|</span> <%= link_to "Sign out", '/signout', id: "signout" %>
      <% else %>
        <%= link_to "Sign up", '/signup', id:'sign_up', remote: true %> <span id="pipe">|</span> <%= link_to "Sign in", '/signin', id:'sign_in', remote: true %>
      <% end %>
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <br>
      <%= yield %>
    </div>
  </body>
</html>
